body {
  display: -webkit-flex;
  -webkit-justify-content: center;
}

body, button, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.PageComponent {
  width: 800px;
}

.HeaderComponent {
  font-size: 24px;
}

.ActionsComponent {
  padding: 10px 0;
}

.ButtonComponent {
  padding: 8px 12px;
  border-radius: 4px;
  border-width: 0;
  color: #FFFFFF;
  background-color: #474949;
  font-weight: normal;
  font-size: 14px;
  -webkit-transition: background-color .3s;
  cursor: pointer;
  outline: 0;
}

.ButtonComponent:hover {
  background-color: #707070;
}

.TicketListComponent {
  margin: 10px 0;
}

.TicketPreviewComponent {
  margin: 0 -15px;
  padding: 15px;
}

  .TicketPreviewComponent:hover {
    background-color: #fefbed;
    cursor: pointer;
  }

  .TicketPreviewComponent-title {
    font-size: 18px;
  }

  .TicketPreviewComponent-description {
    color: #666;
  }

.EditableComponent {
  border: 1px solid #DDD;
  padding: 6px;
  border-radius: 4px;
  outline: 0;
}
  .EditableComponent:focus {
    border-color: #999;
  }

  .EditableComponent.placeholder {
    color: #999;
  }

.TicketEditComponent {
}

  .TicketEditComponent-title {
    font-size: 18px;
  }

  .TicketEditComponent-description {
    margin-top: 20px;
    min-height: 100px;
  }

  .TicketEditComponent-saveButton {
    margin-top: 20px;
    align-self: center;
  }

.TicketComponent {
  margin: 25px 0;
}

.TicketTitleComponent {
  font-size: 18px;
}

.TicketDescriptionComponent {
  color: #666;
  padding-bottom: 20px; 
}

.StatusComponent {
  width: 24px;
  height: 24px;
  margin: 3px 16px 0 0;
}